# os settings
.DS_Store
.cache


# IDE setting
*~
.project
.settings
.idea
.vscode

# build
build/bin/

# vendor
vendor/*
!vendor/vendor.json

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# test generated data
storage/storageclient/contractset/testdata/contractsetdb/*